@-moz-document url-prefix("https://kitsu.io/") {
/* Backgrounds */
body,
.modal-body,
.user-stats-panel,
.time-spent-card,
.media-browse .media-poster-header,
.media-browse .media-grid,
.media-grid,
.container,
.modal-header,
.modal-footer,
.browse-page .global-container,
.favorite-series-panel .nav-tabs,
.media--reactions .reactions-list,
.group-link-wrapper:hover,
.settings--header,
.quick-update,
.cover-nav.navbar-light {
  background: #402F3F !important;
  color: #fff !important;
}

/* Clean up number input field*/
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

/*Gates*/
.combo-gate a,
.nsfw-gate a,
.group-category-wrapper.active,
.spoiler-gate a {
  background: #452643 !important;
}

.library-list thead,
.quick-update .flickity-viewport .quick-update-item .overlay-panel,
.group-result-meta .category-button,
.unit-summary .summary-wrapper,
.quick-update .flickity-viewport .action-wrapper textarea,
.cover-nav.navbar-light .nav-item.active,
.cover-nav.navbar-light .nav-item:hover,
.explore-search input,
.library-search input,
.media-summary,
.ember-power-select-option[aria-selected="true"],
.ember-power-select-option[aria-current="true"] {
  background: #32092b !important;
  color: #fff;
}


.library-sections li a {
  color: #430d46 !important;
}

.stat-icon svg path,
.list-type svg,
.sidebar-footer .kitsu-social svg {
  fill: #aaa;
}
.group-category-wrapper a,
.group-result-header .result-sort-wrapper button {
  color: #aaa;
}

.feed-aside .timeline-link,
.form-control,
.media-browse .media-grid .poster-wrapper .media-title,
.my-groups-widget .joined-group a,
.group-result-title,
.feed-actions button,
.favorite-placeholder,
.library-list .cell-title a,
.sidebar-footer .footer-links .site-link,
.reaction-feed-item .reaction-votes,
.stream-content-embed .embed-article .embed-info .embed-desc,
.stream-content-embed .embed-article .embed-info .embed-title,
.library-list .star-rating-cell .entry-rating-star .current-rating,
.media--reactions .reactions-header .result-sort-wrapper button,
.graph-percent {
  color: #fff;
}

.close,
.library-sections li.active a,
.cover-nav.navbar-light .nav-item.active {
  color: #fff !important;
}

.combo-gate a,
.nsfw-gate a,
.spoiler-gate a,
.reaction-feed-item .reaction-votes,
.tagged-media {
  border: 2px solid #000;
}

.form-control,
.media--reactions .reactions-list,
.media-summary,
.stream-item-comments li,
.reaction-feed-item .reaction-content,
.add-comment-wrapper .add-comment,
.explore-search input,
.library-search input,
.cover-nav.navbar-light .nav-item:first-child,
.cover-nav.navbar-light .nav-item,
.cover-nav.navbar-light,
.ember-power-select-trigger {
  border: none !important;
}

.navbar-nav .tag,
.form-control,
.ember-basic-dropdown-content,
.ember-power-select-trigger,
.card,
.character-wrapper,
.hint-panel,
.library-list,
.media-unit--block,
.stream-add-content,
.stream-content-embed .embed-article .embed-info,
.stream-item {
  background-color: #3a2b3a !important;
  color: #fff;
}

.stream-item--title-block,
.stream-item-comments,
.reply-list,
.feed-aside .timeline-link.active,
.feed-aside .timeline-link.active:hover,
.tagged-media {
  background-color: #433242 !important;
  color: #fff;
}
/*Alignmets*/
.quick-update--header {
  padding-bottom: 5px;
  padding-top: 5px;
}
/*Hide items you do not want*/
.library-issues,
.checklist,
.footer-applinks {
  display: none !important;
}
}
