@-moz-document regexp("https://outlook.office(365)?.com/.*") {
root {
    --headerSearchBoxBackground: #424242 !important;
    --headerButtonsBackground: #323232 !important;
    --headerButtonsBackgroundHover: #525252 !important;
    --themePrimary: #323232 !important;
    --white: #525252;
}

#loadingScreen {
    background-color: #424242 !important;
}

#O365_AppName,
#O365_NavHeader,
#O365_MainLink_NavMenu,
#Time,
#owaSettingsButton,
#O365_MainLink_Help,
#O365_MainLink_Me,
#skype_container,
#skype,
#skype div button,
#owaSearchBox,
#owaSearchBox_container,
#owaBranding_container,
#owaSearchfolderScope,
.o365sx-appName,
.o365cs-base {
    background-color: #323232 !important;
    --headerButtonsBackground: #323232 !important;
    --headerButtonsBackgroundHover: #525252 !important;
    color: white;
}

#O365_AppName:hover,
#Time:hover,
#owaSettingsButton :hover,
#O365_MainLink_NavMenu:hover,
#O365_MainLink_Help :hover,
#O365_MainLink_Me :hover,
#skype :hover,
#skype div button :hover,
.o365sx-appName :hover,
.o365cs-base :hover {
    background-color: #525252 !important;
}

.ms-Button--primary {
    background-color: #323232 !important;
    color: #999999 !important;
}
.ms-Button--commandBar,
.ms-Button-label {
    background-color: #323232 !important;
    color: #999999 !important;
}


#appLauncher {
    background-color: #727272 !important;
    color: white;
}
}